  <table class="responsive-table scorecard">
    <caption></caption>
    <thead>
      <tr class="hole-number">
        <th scope="col"></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
        <th scope="col">8</th>
        <th scope="col">9</th>
        
        <th scope="col">Out</th>

        <th scope="col">10</th>
        <th scope="col">11</th>
        <th scope="col">12</th>
        <th scope="col">13</th>
        <th scope="col">14</th>
        <th scope="col">15</th>
        <th scope="col">16</th>
        <th scope="col">17</th>
        <th scope="col">18</th>
        
        <th scope="col">In</th>

        <th scope="col">Total</th>
      </tr>

      <tr>
        <th scope="col"></th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">3</th>
        <th scope="col"style="background-color: #f1f1f1;">5</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">5</th>
        <th scope="col"style="background-color: #f1f1f1;">3</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;" class="out">36</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">3</th>
        <th scope="col"style="background-color: #f1f1f1;">5</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">3</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;">5</th>
        <th scope="col"style="background-color: #f1f1f1;">4</th>
        <th scope="col"style="background-color: #f1f1f1;" class="in">36</th>
        <th scope="col"style="background-color: #f1f1f1;">72</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th data-type="player">Doug March</th>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">3</span>
        </td>
        <td>
          <span class="par">5</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">5</span>
        </td>
        <td>
          <span class="double-bogey">5</span>
        </td>
        <td>
          <span class="bogey">5</span>
        </td>
        <td>39</td>

        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">3</span>
        </td>
        <td>
          <span class="par">5</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="bogey">4</span>
        </td>
        <td>
          <span class="bogey">5</span>
        </td>
        <td>
          <span class="bogey">5</span>
        </td>
        <td>
          <span class="birdie">4</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>38</td>

        <td>77</td>
      </tr>

    </tbody>

    <tfoot>
      <tr>
        <td colspan="9"><strong>Augusta National, Augusta Georgia </strong>
          — March 31, 2014 — 76 with a slight wind</td>
      </tr>
    </tfoot>
  </table>