
<section class="l-row">

  <h1>Single Player View <small>with stats</small></h1>

  <table id="out" class="table table-responsive scorecard">
    <thead>
      <tr class="hole-number">
        <th>Hole</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>Out</th>
      </tr>
    </thead>

    <tbody>
      <tr class="tee">
        <td>Professional</td>
        <td>390</td>
        <td>143</td>
        <td>535</td>
        <td>405</td>
        <td>483</td>
        <td>463</td>
        <td>503</td>
        <td>223</td>
        <td>448</td>
        <td>3593</td>
      </tr>

      <tr class="hcp">
        <td>Handicap</td>
        <td>15</td>
        <td>17</td>
        <td>7</td>
        <td>5</td>
        <td>3</td>
        <td>1</td>
        <td>11</td>
        <td>13</td>
        <td>9</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="par">
        <td>Par</td>
        <td>4</td>
        <td>3</td>
        <td>5</td>
        <td>4</td>
        <td>4</td>
        <td>4</td>
        <td>5</td>
        <td>3</td>
        <td>4</td>
        <td>36</td>
      </tr>

      <tr class="score">
        <td>Score</td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">3</span>
        </td>
        <td>
          <span class="par">5</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">5</span>
        </td>
        <td>
          <span class="double-bogey">5</span>
        </td>
        <td>
          <span class="bogey">5</span>
        </td>
        <td>39</td>
      </tr>

      <tr>
        <td>Fairway</td>
        <td>
          →
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          →
        </td>
        <td>
          ←
        </td>
        <td>
          ✓
        </td>
        <td>
          ←
        </td>
        <td>
          ←
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          ✓
        </td>
        <td>
          2 / 7
        </td>
      </tr>


      <tr>
        <td>Greens</td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ‐
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ‐
        </td>
        <td>
          ‐
        </td>
        <td>6 / 9</td>
      </tr>

      <tr>
        <td>Putts</td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          1
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>17</td>
      </tr>


      <tr>
        <td>Penalty</td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          1
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

  <table id="in" class="table table-responsive scorecard" style="margin-top: 20px;">
    <thead>
      <tr class="hole-number">
        <th>Hole</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>In</th>
      </tr>
    </thead>

    <tbody>
      <tr class="tee">
        <td>Professional</td>
        <td>346</td>
        <td>169</td>
        <td>525</td>
        <td>429</td>
        <td>193</td>
        <td>447</td>
        <td>407</td>
        <td>485</td>
        <td>442</td>
        <td>3443</td>
      </tr>

      <tr class="hcp">
        <td>Handicap</td>
        <td>16</td>
        <td>14</td>
        <td>8</td>
        <td>6</td>
        <td>18</td>
        <td>2</td>
        <td>4</td>
        <td>10</td>
        <td>12</td>
        <td>&nbsp;</td>
      </tr>

      <tr class="par">
        <td>Par</td>
        <td>4</td>
        <td>3</td>
        <td>5</td>
        <td>4</td>
        <td>3</td>
        <td>4</td>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>36</td>
      </tr>

      <tr class="score">
        <td>Score</td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="par">3</span>
        </td>
        <td>
          <span class="par">5</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>
          <span class="bogey">4</span>
        </td>
        <td>
          <span class="bogey">5</span>
        </td>
        <td>
          <span class="bogey">5</span>
        </td>
        <td>
          <span class="birdie">4</span>
        </td>
        <td>
          <span class="par">4</span>
        </td>
        <td>38</td>
      </tr>

      <tr>
        <td>Fairway</td>
        <td>
          ←
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          →
        </td>
        <td>
          →
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          →
        </td>
        <td>
          ←
        </td>
        <td>
          ✓
        </td>
        <td>
          ←
        </td>
        <td>
          1 / 7
        </td>
      </tr>


      <tr>
        <td>Greens</td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>
          ‐
        </td>
        <td>
          ‐
        </td>
        <td>
          ✓
        </td>
        <td>
          ✓
        </td>
        <td>7 / 9</td>
      </tr>

      <tr>
        <td>Putts</td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          3
        </td>
        <td>
          2
        </td>
        <td>
          2
        </td>
        <td>
          1
        </td>
        <td>
          2
        </td>
        <td>18</td>
      </tr>


      <tr>
        <td>Penalty</td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          1
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>1</td>
      </tr>
    </tbody>
  </table>
</section>