.cta {
  > li {
    &:first-child {
      margin-bottom: .8em;
      
      @include respond-to(small) {
        margin-right: .5em;
        margin-bottom: 0;
      }
    }
    &:last-child {
      @include respond-to(small) {
        margin-left: .5em;
      }
    }
  }
  
  @include respond-to(small) {
    margin-bottom: 0;
  }
}