.flag {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-cell--left {
  padding-right: rem(22);
}

.table-cell--right {
  padding-left: rem(22);
}

/* Custom styles for Barebones
   ========================================================================== */

.table-cell--btn {
  width: rem(200);
  
  @include respond-to(small) {
    width: 50%;
  }
}