.hero {
  padding-top: rem(50);
  padding-bottom: rem(30);
  text-align: center;
  
  .giga,
  .mega {
    font-weight: 700;
    margin-bottom: .25em;
  }
  
  @include respond-to(small) {
    padding-top: rem(50 + 30);
    padding-bottom: rem(140);
  }
}