.media {
  @extend %clearfix;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


/*
 * 1. Create new block formatting context in modern browsers
 * 2. Avoid shrink-wrap behaviour of table-cell
 * www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 * facebook.com
*/

.media-body {
  display: table-cell; /* 1 */
  width: 10000px; /* 2 */
}

/* Custom styles for Barebones
   ========================================================================== */

.pull-right-desktop,
.pull-left-desktop {
  margin-bottom: rem(8);
  
  img {
    width: 100%;
    
    @include respond-to(small) {
      max-width: 100%;
    }
  }
  
  @include respond-to(small) {
    margin-bottom: 0;
  }
}

.pull-right-desktop {
  @include respond-to(small) {
    float: right;
    margin-left: rem(33);
  }
}

.pull-left-desktop {
  @include respond-to(small) {
    float: left;
    margin-right: rem(33);
  }
}