.section {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.section--main {
  margin-bottom: rem(33);
  
  @include respond-to(small) {
    margin-bottom: rem(88);
  }
}

.section--sub {
  margin-bottom: rem(16);
  
  @include respond-to(small) {
    margin-bottom: rem(33);
  }
}

.section-header {
  border-bottom: 1px solid $primary-color;
  margin-bottom: rem(33);
  padding-bottom: rem(4);
  
  @include respond-to(small) {
    margin-bottom: rem(33);
    padding-bottom: rem(11);
  }
}


.section-title {
  color: darken(#ccc, 20%);
  margin: 0;
}
