.spinner {
  @include spinner(40px, 40px);
}

.spinner-bar {
  background: #000;
  border-radius: 50px;
  -webkit-animation: fade 1s linear infinite;
          animation: fade 1s linear infinite;
  box-shadow: 0 0 3px rgba(0, 0, 0, .2);
  height: 26%;
  position: absolute;
  left: 44.5%;
  top: 37%;
  width: 12%;
  opacity: 0;
}

@for $i from 1 through 12 {
  $test: 0.08333333333333333;
  
  .spinner-bar--#{$i} {
    -webkit-animation-delay: (0 - (-$test * $i)) + s;
            animation-delay: (0 - (-$test * $i)) + s;
    -webkit-transform: rotate((30 * $i) + deg) translate(0, -142%);
            transform: rotate((30 * $i) + deg) translate(0, -142%);
  }
}

.test {
  @include spinner-bar();
}