table {
  width: 100%;
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }
  
  @include respond-to(small) {
    @include font-size(22);
    
    table-layout: fixed;
  }
}

.display-table {
  tr {
    float: left;
    width: 100%;
    
    @include respond-to(small) {
      display: table-row;
      float: none;
    }
  }
  
  td {
    border-bottom: 1px solid $primary-color;
    display: block;
    
    @include respond-to(small) {
      display: table-cell;
    }
  }
}

thead {
  @extend %all-caps;
  
  background-color: #f5f5f5;
  display: none;

  @include respond-to(small) {
    display: table-header-group;
  }
}

td {
  @include respond-to(small) {
    border: 1px solid $primary-color;
    padding: .1em;
  }
}

.table-responsive {
  tr {
    margin-bottom: 1em;

    @include respond-to(small) {
      display: table-row;
      margin-bottom: 0;
    }
  }

  td {
    border-top: 1px solid $primary-color;
    display: block;
    padding: .5em .5em .5em 50%;
    // padding-left: 50%;
    position: relative;
    &:first-child {
      background-color: #f5f5f5;
      
      @include respond-to(small) {
        background-color: transparent;
      }
    }
    &:before {
      color: #333;
      content: attr(data-label);
      display: block;
      position: absolute;
      left: .5em;
      width: 50%;
      
      @include respond-to(small) {
        content: '';
        display: none;
      }
    }
    
    @include respond-to(small) {
      border: 1px solid $primary-color;
      display: table-cell;
      padding: .1em;
    }
  }
}