/* ==========================================================================
   Mixins
   ========================================================================== */

/**
 * Pixel conversions.
 *
 * Converts pixels to ems/rems depending on the mixing you're using.
 */
 
@function em($size, $context: $base-font-size) {
  @return ($size / $context) + em;
}

// Px to rem sixing
@function rem($size, $context: $base-font-size) {
  @return ($size / $context) + rem;
}

// Px to rem sizing with px fallout
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / $base-font-size) + rem;
}

// Selection
@mixin selection() {
  background: #b3d4fc;
  text-shadow: none;
}

/**
 * Media queries
 *
 * These are based on the different device widths in _settings.scss.
 * Allows you to use inline media queries.
 *
 * Example CSS:
 *
 * .foobar {
 *   @include respond-to(big) {
 *   }
 * }
 */

@mixin respond-to($screen) {
  @if $screen == small{
    @media only screen and (min-width: $small) {
      @content;
    }
  }
  @else if $screen == medium {
    @media only screen and (min-width: $medium) {
      @content;
    }
  }
  @else if $screen == big {
    @media only screen and (min-width: $big) {
      @content;
    }
  }
}


/**
 * Loading spinner
 *
 * Automatically creates 12 spinner bars based on http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit
 *
 * Example HTTML:
 *
 * <div class="spinner">
 *   <div class="spinner-bar spinner-bar--1"></div>
 *   <div class="spinner-bar spinner-bar--2"></div>
 *   <div class="spinner-bar spinner-bar--3"></div>
 *   <div class="spinner-bar spinner-bar--4"></div>
 *   <div class="spinner-bar spinner-bar--5"></div>
 *   <div class="spinner-bar spinner-bar--6"></div>
 *   <div class="spinner-bar spinner-bar--7"></div>
 *   <div class="spinner-bar spinner-bar--8"></div>
 *   <div class="spinner-bar spinner-bar--9"></div>
 *   <div class="spinner-bar spinner-bar--10"></div>
 *   <div class="spinner-bar spinner-bar--11"></div>
 *   <div class="spinner-bar spinner-bar--12"></div>
 * </div>
 */

@mixin spinner($width, $height) {
  height: $height;
  display: inline-block;
  position: relative;
  width: $width;
}

/**
 * Individual spinner bars
 *
 * Automatically creates 12 spinner bars based on http://37signals.com/svn/posts/2577-loading-spinner-animation-using-css-and-webkit
 */

@mixin spinner-bar() {
  $time: 0.08333333333333333;
  
  @content;
  
  @for $i from 1 through 12 {
    .spinner-bar--#{$i} {
      -webkit-animation-delay: (0 - (-$time * $i)) + s;
              animation-delay: (0 - (-$time * $i)) + s;
      -webkit-transform: rotate((30 * $i) + deg) translate(0, -142%);
              transform: rotate((30 * $i) + deg) translate(0, -142%);
    }
  }
}

/* Custom mixins for Barebones
 ========================================================================== */
 
// Main header style
 
@mixin bar() {
  background-color: #fff;
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 2px rgba(#000, .03);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

/**
 * Buttons
 *
 * This customises your buttons with a different background color and text color. 
 * If no text color is specified it will default to white.
 */

@mixin btn($color, $text-color: #fff) {
  background-color: $color;
  border-color: darken($color, 6%);
  color: $text-color;
}
 