@-webkit-keyframes fade {
  
  from {
    opacity: 1;
  }
  
  to {
    opacity: .25;
  }
  
}

@keyframes fade {
  
  from {
    opacity: 1;
  }
  
  to {
    opacity: .25;
  }
  
}

.is-not-scrollable {
  overflow: hidden;
}